
		<dependency>
			<groupId>org.hibernate.javax.persistence</groupId>
			<artifactId>hibernate-jpa-2.0-api</artifactId> <!-- javax.persistence.* -->
			<version>1.0.1.Final</version>
		</dependency>
		<dependency>
			<groupId>org.hibernate</groupId>
			<artifactId>hibernate-entitymanager</artifactId> <!-- org.hibernate.ejb.* -->
			<version>4.2.2.Final</version>
		</dependency>
