.hspace-20{
    margin-top:20px;
}

.hspace-30{
    margin-top:30px;
}

.hspace-40{
    margin-top:40px;
}

.hspace-40{
    margin-top:40px;
}

.hspace-50{
    margin-top:50px;
}


/*   FOOTER stick   */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}