.hspace-20{
    margin-top:20px;
}

.hspace-30{
    margin-top:30px;
}

.hspace-40{
    margin-top:40px;
}

.hspace-40{
    margin-top:40px;
}

.hspace-50{
    margin-top:50px;
}


/*   FOOTER stick   */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}




/*   ALERTS   */
.alert{
    padding: 20px;
    margin: 10px;
    border-radius: 0 0 2px 2px;
}

.alert-error{
    color: white;
    background-color: #F44336;
}
